## Question 1

    Pandas: Appending rows to a DataFrame
    Write a Pandas program to append rows to an existing DataFrame and display the combined data.

    student_data1:

    student_id	name	marks
    S1	xyz	123
    S12	pqr	321
    student_data2 (This is a row):

    student_id : S13

    name : abc

    marks : 521

    Expected result:

    student_id	name	marks
    S1	xyz	123
    S12	pqr	321
    S13	abc	521
    All column data is of object datatype.Change it to appropriate datatype and then apply logic

In [ ]:
import pandas as pd
student_data1 = pd.DataFrame({
        'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
         'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'], 
        'marks': [200, 210, 190, 222, 199]})

s6 = pd.Series(['S6', 'Scarlette Fisher', 205], index=['student_id', 'name', 'marks'])
combined_data =      #write your code here




print(combined_data.iloc[3])

## Solution

## Question 2

    Write a Pandas program to join the two given dataframes along rows and merge with another dataframe along the common column id.

    student_data1:

    student_id	name	marks
    S1	xyz	123
    student_data2:

    student_id	name	marks
    S12	pqr	321
    student_data3:

    student_id	exam_id
    S1	23
    S12	24
    Expected result:

    student_id	name	marks	exam_id
    S1	xyz	123	23
    S12	pqr	321	24
    All column data is of object datatype.Change it to appropriate datatype and then apply logic

## Solution

In [ ]:
import pandas as pd
student_data1 = pd.DataFrame({
        'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
         'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'], 
        'marks': [200, 210, 190, 222, 199]})

student_data2 = pd.DataFrame({
        'student_id': ['S4', 'S5', 'S6', 'S7', 'S8'],
        'name': ['Scarlette Fisher', 'Carla Williamson', 'Dante Morse', 'Kaiser William', 'Madeeha Preston'], 
        'marks': [201, 200, 198, 219, 201]})

exam_data = pd.DataFrame({
        'student_id': ['S1', 'S2', 'S3', 'S4', 'S5', 'S7', 'S8', 'S9', 'S10', 'S11', 'S12', 'S13'],
        'exam_id': [23, 45, 12, 67, 21, 55, 33, 14, 56, 83, 88, 12]})


#Write your logic


final_merged_data = 

print(final_merged_data.to_string(index = False))